<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="../css/chat.css">
    <script src="http://localhost:8080/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="mainContainer">
        <div class="left">
            <h1>Users</h1>
            <div id='userlist' class="userList">
            </div>
        </div>
        <div class="right">
            <div class="topNav">
                <div class="username">
                    <%=username%>
                </div>
            </div>
            <div class="chatArea">
                <div class="chatDisplayArea">

                </div>
                <div class="form">
                    <form action="#">
                        <input type="text">
                        <input type="submit">   
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/chat.js"></script>
</body>
</html>