
body {
    margin: 0;
    padding: 0;
    background-color: rgb(186, 255, 255);
}

.mainContainer {
    background-color: white;
    border: 1px solid black;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 50vw;
    margin: auto;
    height: 50vh;
}



.formWrapper form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#searchButton {
    border: none;
    margin: 10px;
}

#searchBox {
    margin: 10px;
    width: 70%;
}

hr {
    width: 95%;
    background-color: aqua;
}

.userDisplay {
    border: 1px solid black;
    height: 78%;
    width: 90%;
    margin: auto;
}

.userdiv {
    cursor: pointer;
    margin-top: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;    
}

#displayArea {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.friend {
    background-color: aqua;
    margin: auto;
    width: 40%;
}